@use "sass:math";
@use "../../Setting/"as s;

.c-text-demo {
	margin: 1em auto;
	line-height: 1.5;
	// フォントサイズ, 行送り , 太さ, トラッキング
	@include s.f_sp-min_around(13.5, 22, false, false);
	text-align: left;
	width: fit-content;

	@include s.media(md) {
		//タブレット・pcの時
		font-size: 16px;
	}
}