section.p-member
	.p-member__inner.c-inner

		.p-member-slide-area
			.p-member-slide.swiper-container.js-swiper-slide-member
				.swiper-wrapper

					.swiper-slide
						//- 装飾（任意）
						.p-member__contents
							figure.p-member__img
								img(src= imgPathCommon + "dami-human01.svg" alt="" width="165" height="165")
							.p-member__textarea
								h3.p-member__title SP：横スライド（高さ自動調整）
								h3.p-member__title PC：縦スライド（高さ固定）
								p.p-member__text SPでは横スライド（高さ自動調整）します。PCでは、縦スライド（高さ固定）になります。

					.swiper-slide
						//- 装飾（任意）
						.p-member__contents
							figure.p-member__img
								img(src= imgPathCommon + "dami-human01.svg" alt="" width="165" height="165")
							.p-member__textarea
								h3.p-member__title SP：横スライド（高さ自動調整）
								h3.p-member__title PC：縦スライド（高さ固定）

					.swiper-slide
						//- 装飾（任意）
						.p-member__contents
							figure.p-member__img
								img(src= imgPathCommon + "dami-human01.svg" alt="" width="165" height="165")
							.p-member__textarea
								h3.p-member__title SP：横スライド（高さ自動調整）
								h3.p-member__title PC：縦スライド（高さ固定）
								p.p-member__text SPでは横スライド（高さ自動調整）します。PCでは、縦スライド（高さ固定）になります。
				//- 必要ならページャーを入れる
				//- .swiper-paginationを入れると、デフォルトのページャーが表示される
				.swiper-pagination.swiper-pagination--member

			//- 必要ならナビゲーションボタンを入れる
			//- .swiper-button-prev.swiper-button-nextを入れると、デフォルトのボタンが表示される
			.swiper-button-prev.swiper-button-prev--member
			.swiper-button-next.swiper-button-next--member