section.p-gallery
	.p-gallery__inner.c-inner

		.p-gallery-slide.swiper-container.js-swiper-slide
			.swiper-wrapper

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/236x177/ff0000/" alt="image" />
							<p class="p-gallery-slide__title">PC：スライドが3つ表示<br>SP：スライドが1つ表示</p>
						</a>

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/236x177/000000/" alt="image" />
							<p class="p-gallery-slide__title">PC：スライドが3つ表示<br>SP：スライドが1つ表示</p>
						</a>

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/236x177/ff0000/" alt="image" />
							<p class="p-gallery-slide__title">PC：スライドが3つ表示<br>SP：スライドが1つ表示</p>
						</a>

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/236x177/000000/" alt="image" />
							<p class="p-gallery-slide__title">PC：スライドが3つ表示<br>SP：スライドが1つ表示</p>
						</a>

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/236x177/ff0000/" alt="image" />
							<p class="p-gallery-slide__title">PC：スライドが3つ表示<br>SP：スライドが1つ表示</p>
						</a>

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/236x177/000000/" alt="image" />
							<p class="p-gallery-slide__title">PC：スライドが3つ表示<br>SP：スライドが1つ表示</p>
						</a>

			//- 必要ならページャーを入れる
			//- .swiper-paginationを入れると、デフォルトのページャーが表示される
			.swiper-pagination.swiper-pagination--gallery

			//- 必要ならナビゲーションボタンを入れる
			//- .swiper-button-prev.swiper-button-nextを入れると、デフォルトのボタンが表示される
			.swiper-button-prev.swiper-button-prev--gallery
			.swiper-button-next.swiper-button-next--gallery