//- ページのID名
- const pageID = "swiper-vertical2"
//- 画像パス
- const imgPathCommon = "./dist/img/common/"
//- - const imgPath = "./dist/img/" +  pageID + "/"
include ./_mixinPic

doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="format-detection" content="email=no,telephone=no,address=no")
		title 【Swiper】スマホ：横スライド、PC：縦スライド(複数枚表示)
		meta(name="description" content="【Swiper】スマホ：横スライド、PC：縦スライド(複数枚表示)")
		//- 共通CSS
		link(rel="stylesheet" href="./dist/css/common.css")
		<!-- ▽▽▽ CSSコードはこちらから▽▽▽ -->
		//- 個別CSS
		link(rel="stylesheet" href="./dist/css/" + pageID + ".css")
		<!-- ▽▽▽ JavaScriptコードはこちらから▽▽▽ -->
		//- 個別JavaScript
		script(src="./dist/js/" + pageID + ".js" defer)
	body
		main.l-main
			<!-- ▼▼▼ コンテンツの記述ここから ▼▼▼ -->

			section

				.p-fv.c-inner-pc

					!= "\n"
					// スライド部分
					.p-fv-slide.swiper-container.js-fv-slide
						.swiper-wrapper
							each num in [1, 2, 3, 4, 5, 6, 7, 8]
								// スライド
								.swiper-slide
									//- 装飾（任意）
									.p-fv-slide__contents
										figure.p-fv-slide__img
											img(src= imgPathCommon + "iphone" + num + ".png" alt="" width="400" height="749")

					// /スライド部分
					!= "\n"

					.p-fv-copy.c-inner
						h2.p-gallery__title.c-title-demo 【Swiper】スマホ：横スライド、PC：縦スライド(複数枚表示)



			<!-- ▲▲▲ コンテンツの記述ここまで ▲▲▲ -->