section.p-gallery
	.p-gallery__inner

		.c-inner
			h2.p-gallery__title.c-title-demo 【Swiper】<br>一定のスピードで流れる、スムーススライド<br>スクロールバー表示

			p.c-text-demo 【注意】 スムーススライドでは、「ナビゲーションボタン」がうまく機能しないです。<br>ナビゲーションをクリックすると、スライドが流れる方向を変更できますが、反応が鈍いです。

		.p-gallery-slide.swiper-container.js-swiper--gallery
			.swiper-wrapper

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/275x378/0070e5/" alt="image" />
						</a>

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/275x378/000000/" alt="image" />
						</a>

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/275x378/0070e5/" alt="image" />
						</a>

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/275x378/000000/" alt="image" />
						</a>

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/275x378/0070e5/" alt="image" />
						</a>

				.swiper-slide
					<!-- 装飾（任意）　-->
					.p-gallery-slide__wrapper
						<a class="p-gallery-slide__inner">
							<img src="https://fakeimg.pl/275x378/000000/" alt="image" />
						</a>

			//- 必要ならスクロールバーを入れる
			//- .swiper-paginationを入れると、デフォルトのスクロールバーが表示される
			.swiper-scrollbar.swiper-scrollbar--gallery-furisode
